@page
@model WebApplication2.Pages.ForHallTicketModel
@{
    ViewData["VDProperty1"] = "VDProperty Value1";
    ViewBag.VBProperty = "VB";
    ViewBag.VBProperty1 = "VB1";
}

@*<h1>@ViewData["VDProperty"]</h1>
<h1>@ViewData["VDProperty1"]</h1>

<p>@ViewBag.VBProperty</p>
<p>@ViewBag.VBProperty1</p>

<hr />

<h1>@ViewData["VDProperty"]</h1>

<hr />
<h1>@TempData["TDProperty"]</h1>*@

<form method="post">
    <input asp-for="@Model.HallTicket" placeholder="Enter hall Ticket. Ex: H1" />
    <button class="btn btn-danger" type="submit">Display Marks</button>
</form>
